body {
    font-size: 15pt;
}

h1,p {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

button, input[type='file'] {
  margin-top: 2em;
  background-color: #4454FF;
  padding: 1em 2em 1em 2em;
  border: solid transparent;
  color: white;
  border-radius: 6px;
  transition: transform 0.2s ease-in-out;
}

button:focus {
  outline: none;
}

button:active {
  transform: scale(0.9);
}


